__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
*.log
*.nsys-rep
.hypothesis
.pytest_cache
*.distcp
*.pt
ckpt
*.csv
*.npy
*.npz
tmp/
gr_checkpoint
_build/
version.py
tmp_data/
checkpoints
embedding_checkpoint/
.idea/
.DS_Store
*.pickle
*.xlsx