[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/FBGEMM"]
	path = third_party/FBGEMM
	url = https://github.com/jiayus-nvidia/FBGEMM.git
[submodule "third_party/FlexKV"]
	path = third_party/FlexKV
	url = git@github.com:taco-project/FlexKV.git
